<h1>Gameplay#game_room</h1>
<p>Find me in app/views/gameplay/game_room.html.erb</p>
<buttom><%= link_to 'New Game ', gameplay_round_path %></buttom>
<buttom><%= link_to 'New Game ', gameplay_round_path %></buttom>
<buttom><%= link_to 'New Game ', gameplay_round_path %></buttom>
<buttom><%= link_to 'New Game ', gameplay_round_path %></buttom>
<buttom><%= link_to 'New Game ', gameplay_round_path %></buttom>
