<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<%= link_to image_tag("play_screen_bt1@3x.png", border: 0), gameplay_create_path, class:"newgame-btn" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<%= link_to image_tag("play_screen_bt1@3x.png", border: 0), gameplay_create_path, class:"newgame-btn"  %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
		<%= link_to image_tag("play_screen_bt1@3x.png", border: 0), gameplay_create_path, class:"newgame-btn"  %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<%= link_to image_tag("play_screen_bt1@3x.png", border: 0), gameplay_create_path, class:"newgame-btn"  %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<%= link_to image_tag("play_screen_bt1@3x.png", border: 0), gameplay_create_path, class:"newgame-btn"  %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<%= link_to image_tag("play_back@3x.png", border: 0), pages_index_path %>
		</div>
	</div>
	<div>
		<%# if game_slot.present? %>
    	    <%#= image_tag 'play_screen_bt0@3x.png' %>
        <%# else %>
            <%#= link_to image_tag("play_screen_bt1@3x.png", border: 0), gameplay_create_path, class:"newgame-btn"  %>
        <%# end %>
	</div>
</div>